.logo img {
  height: 4rem;
}

.logo h1 {
  color: white;
  padding: 1rem;
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
}

.container-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}

.container-inputs label {
  color: #484848;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}

.width-limit {
  width: 100%;
  max-width: 150rem;
}

.blocks-head {
  background-color: #2c0f69;
  color: #ffffff;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;

  padding: 0 2.4rem;
  font-size: 1.6rem;
}

.blocks-body {
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  background-color: #d9d9d9;

  display: flex;
  flex-direction: column;
  align-items: center;
}
